{% extends "layout.html" %}
{% block title %} Log In | Mi Aplicacion{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<section>
    <h1>Iniciar Sesion</h1>
    <form action="{{ url_for('auth.authenticate') }}" method="post">
        <input type="email" name="email" placeholder="Correo" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Iniciar Sesion</button>
    </form>
</section>
{% endblock %}