<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Altouch{% endblock %}</title>
    {%block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons/font/bootstrap-icons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <header>
        {%block header %}
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                Cuenta
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Ver perfil</a></li>
                <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                <li><a class="dropdown-item" href="#">Iniciar sesión [Temporal, hasta tener sesiones y hacer un display
                        correcto]</a></li>
            </ul>
        </div>
        {% endblock %}
    </header>
    <nav class="d-flex flex-column bg-dark text-white vh-100">
        {% block nav %}
            <ul class="nav flex-column text-center">
                <li class="nav-item" title="Gestión de sitios históricos">
                    <a class="nav-link text-white" href="#">
                        <i class="bi bi-bank"></i>
                    </a>
                </li>
                <li class="nav-item" title="Validación de propuestas">
                    <a class="nav-link text-white" href="#">
                        <i class="bi bi-check-circle"></i>
                    </a>
                </li>
                <li class="nav-item" title="Moderación de reseñas">
                    <a class="nav-link text-white" href="#">
                        <i class="bi bi-chat-dots"></i>
                    </a>
                </li>
                <li class="nav-item" title="Gestión de usuarios">
                    <a class="nav-link text-white" href="#">
                        <i class="bi bi-people"></i>
                    </a>
                </li>
            </ul>
        {% endblock %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %} &copy; {{current_year}} Altouch {% endblock %}
    </footer>
</body>

</html>