<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Altouch{% endblock %}</title>
    {%block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons/font/bootstrap-icons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>

<body>
    <header>
        <div class="header-left">
            <img src="https://cdn-icons-png.flaticon.com/512/6325/6325609.png" alt="Logo">
            <span>Nombre del Sistema</span>
        </div>
        <div class="header-right">
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Cuenta
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Ver perfil</a></li>
                    <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                    <li><a class="dropdown-item" href="#">Iniciar sesión [Temporal, hasta tener sesiones y hacer un
                            display
                            correcto]</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="layout-sidebar">
        <nav class="d-flex flex-column bg-dark text-white vh-100">
            {% block nav %}
                <ul class="nav flex-column text-center">
                    <li class="nav-item" title="Gestión de sitios históricos">
                        <a class="nav-link text-white" href="#">
                            <i class="bi bi-bank"></i>
                        </a>
                    </li>
                    <li class="nav-item" title="Validación de propuestas">
                        <a class="nav-link text-white" href="#">
                            <i class="bi bi-check-circle"></i>
                        </a>
                    </li>
                    <li class="nav-item" title="Moderación de reseñas">
                        <a class="nav-link text-white" href="#">
                            <i class="bi bi-chat-dots"></i>
                        </a>
                    </li>
                    <li class="nav-item" title="Gestión de usuarios">
                        <a class="nav-link text-white" href="#">
                            <i class="bi bi-people"></i>
                        </a>
                    </li>
                </ul>
            {% endblock %}
        </nav>
    </div>
    <div class="layout-main">
        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <div class="layout-footer">
        <footer class="bg-dark text-white text-center py-3"
                style="position:fixed; bottom:0; left:0; width:100%; z-index:100;">
            {% block footer %} &copy; {{current_year}} Nombre del Sistema {% endblock %}
        </footer>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>