:root {
    --bs-primary: #BB86FC; /* Primary */
    --bs-primary-variant: #3700B3; /* Primary Variant */
    --bs-secondary: #03DAC6; /* Secondary */
    --bs-background: #121212; /* Background */
    --bs-surface: #121212; /* Surface */
    --bs-error: #CF6679; /* Error */
    --bs-on-primary: #000000; /* On Primary */
    --bs-on-secondary: #000000; /* On Secondary */
    --bs-on-background: #FFFFFF; /* On Background */
    --bs-on-surface: #FFFFFF; /* On Surface */
    --bs-on-error: #000000; /* On Error */
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: var(--bs-background);
    color: var(--bs-on-background);
    line-height: 1.6;
    margin-bottom: 70px;
}

.layout-sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 80px;
    background-color: var(--bs-surface);
    color: var(--bs-on-surface);
    z-index: 1020;
    overflow-y: auto;
    scrollbar-width: none;
}

.layout-sidebar::-webkit-scrollbar {
    display: none;
}

.layout-main {
    margin-left: 80px;
    margin-top: 60px;
    padding: 15px;
}

header {
    background-color: var(--bs-surface);
    color: var(--bs-on-surface);
    border-bottom: 2px solid var(--bs-primary);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

footer {
    background-color: var(--bs-surface);
    color: var(--bs-on-surface);
    border-top: 2px solid var(--bs-primary);
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1050; 
    text-align: center;
    padding: 10px 0;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--bs-surface);
    color: var(--bs-on-surface);
}

header .header-right .dropdown-toggle {
    color: white; 
    background-color: transparent; 
    border: none; 
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
}

header .header-right .dropdown-toggle:hover {
    text-decoration: underline;
}

button {
    background-color: var(--bs-primary);
    color: var(--bs-on-primary);
}

button:hover {
    background-color: var(--bs-primary-variant);
}

.alert {
    background-color: var(--bs-error);
    color: var(--bs-on-error);
}