{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
  <div class="card" style="border: 2px solid #BB86FC;">
    <div class="card-body">
      <h2 class="card-title mb-4">{{ site.site_name }}</h2>
      <hr>
      <p><strong>Descripción breve:</strong> {{ site.short_desc }}</p>
      <p><strong>Descripción completa:</strong> {{ site.full_desc }}</p>
      <div class="row mb-3">
        <div class="col-md-6">
          <p><strong>Ciudad:</strong> {{ site.city }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Provincia:</strong> {{ site.province }}</p>
        </div>
      </div>
      <p><strong>Estado de conservación:</strong> {{ site.state.name }}</p>
      <p><strong>Año de inauguración:</strong> {{ site.operning_year }}</p>
      <p><strong>Categoría:</strong> {{ site.category.name }}</p>
      <p><strong>Etiquetas:</strong> 
        {% if site.tag_associations %}
          {% for association in site.tag_associations %}
            <span class="badge bg-primary me-1">{{ association.tag.name }}</span>
          {% endfor %}
        {% else %}
          <span class="text-muted">Sin etiquetas asignadas</span>
        {% endif %}
      </p>
      <div class="row mb-3">
        <div class="col-md-6">
          <p><strong>Latitud:</strong> {{ site.latitude }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Longitud:</strong> {{ site.longitude }}</p>
        </div>
      </div>
      <!-- 
      Dudo que esto se deba mostrar pero lo dejo comentado por las dudas
      <p><strong>¿Visible en el portal?:</strong> {{ 'Sí' if site.active else 'No' }}</p>
      -->
      <p><strong>Fecha de registro: </strong>{{ site.registration.strftime('%d/%m/%Y')}}</p>
      <a href="{{ url_for('sites.edit', site_id=site.id) }}" class="btn btn-secondary">Editar</a>
    </div>
  </div>
</div>
{% endblock %}