services:
  db:
    image: postgis/postgis:16-3.4
    container_name: postgres_proyecto
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker-entrypoint-initdb.d/:/docker-entrypoint-initdb.d/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - app-network

  frontend-vue:
    build:
      context: ./frontend-vue 
      dockerfile: Dockerfile
    container_name: frontend_vue_proyecto
    restart: unless-stopped
    ports:
      - "5173:5173" 
    volumes:
      - ./src/web/frontend-vue:/app 
      - /app/node_modules 
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4:9.8.0
    container_name: pgadmin_proyecto
    restart: unless-stopped
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
  minio:
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
    ports:
      - "9000:9000" 
      - "9001:9001" 
    command: server --console-address ":9001" /data
    volumes:
      - minio_data:/data 
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD} 
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

volumes:
  postgres_data:
    driver: local
  pgadmin_data:
    driver: local
  minio_data: 
    driver: local

networks:
  app-network:
    driver: bridge